<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="showdiv">
        <a href="/">Go Back</a>
        <h2>
            <%= filename %>
        </h2>
        <p>
            <%= filedata %>
        </p>
    </div>
    <div class="menu">
        <a href="/edit/<%= filename %>"">Edit filename</a>
        <a href="/delete/<%= filename %>">Delete file</a>
        <a href="/editnote/<%= filedata %>">Edit Content</a>
    </div>
</body>

</html>
